# Google Gemini API
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.0-flash

# OpenAI API
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o

# Email Configuration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password
EMAIL_FROM=your_email@gmail.com
EMAIL_TO=recipient@example.com

# Server configuration
SERVER_PORT=8000
